{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Oregon Veterans{% endblock title %}</title>
    <link rel="stylesheet"
      href="https://bootswatch.com/4/cyborg/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="mystyle.css">
    {% block main_styles %}
        <link rel='stylesheet' href='{% static "todos/css/stylesheet.css" %}'>
    {% endblock main_styles %}
    {% block extra_styles %}{% endblock extra_styles %}
    {% block js_head %}{% endblock js_head %}
</head>
<body>
  <div class="row">
    <div class="col-sm-2">
      <ul class="nav flex-column sticky-top data-spy="affix">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'capapp:homepage' %}">HOMEPAGE</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'capapp:burial_benefits' %}">Burial Benefits</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'capapp:claims_process' %}">Claims Process</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'capapp:disability_compensation' %}">Disability Compensation</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'capapp:education' %}">Education</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'capapp:emergency_assistance' %}">Emergency Assistance</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'capapp:employment' %}">Employment</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'capapp:health' %}">Healthcare</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'capapp:home_loans' %}">Home Loans</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'capapp:license_plates' %}">License Plates</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'capapp:long_term_care' %}">Long-Term Care</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'capapp:pension' %}">Pension</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'capapp:records_medals' %}">Records and Medals</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'capapp:recreation' %}">Recreation</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'capapp:special_advocacy' %}">Special Advocacy</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'capapp:taxes' %}">Taxes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'capapp:transportation' %}">Transportation</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'capapp:veteran_IDs' %}">Veteran IDs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'capapp:veteran_owned_businesses' %}">Veteran Owned Businesses</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'capapp:veteran_volunteer_program' %}">Veteran Volunteer Program</a>
        </li>
      </ul>
    </div>
    <div class="col-sm-9">
      <h1 class="text-center">Special Advocacy</h1>

<hr color=red>
      <h2 class="text-center">ODVA Special Advocacy</h2>
        <p>
          ODVA provides special advocacy in the form of specialized coordinator positions and expertise for several minority veteran populations, detailed below.
        </P>
      <h3 class="text-center">Women Veterans</h3>
        <p>
          ODVA has its own dedicated Women Veterans Coordinator serving the unique needs of women veterans. Find out more on the Women Veterans resource page.
        </p>
      <h3 class="text-center">"I Am Not Invisible" Exhibit</h3>
        <p>
          “I Am Not Invisible” is a remarkable exhibition featuring 20 portraits of Oregon women military veterans. The project is the brainchild of PSU Veterans Resource Center Director Felita Singleton and ODVA Women Veterans Coordinator Elizabeth Estabrooks. After debuting Feb 24 at the Portland Art Museum, the exhibit began a traveling campaign, and will be appearing at various locations throughout the state.

For more information: I Am Not Invisible​
        </p>
      <h3 class="text-center">Military Sexual Trauma(MST)</h3>
        <p>
          59% of Oregon women veterans surveyed stated they experienced some form of sexual assault while on active duty. If you experienced any form of sexual assault, rape, or domestic violence while on active duty and still suffer mental or physical health problems today, you can receive counseling and services at the VA.

If you have not filed for benefits or you filed and were denied and would like to learn more about the changed rules regarding filing for these benefits, please contact your local VSO​ or the Oregon Women Veterans Coordinator.

MST RESOURCES

Oregon Coalition Against Domestic and Sexual Violence

VA Services for Military Sexual Trauma

Battered Women’s Justice Project
        </p>
      <h3 class="text-center">VA Womens' Program Managers</h3>
        <p>
          Women Veterans Program Managers advise and advocate for women veterans and can help coordinates all the services you may need, from primary care to specialized care for chronic conditions or reproductive health.

Choose a location below to be directed to the webpage for the Women Veterans Program Manager at each site.

Portland VA Health Care System

Roseburg VA Health Care System

Southern Oregon Rehabilitation Center & Clinics (SORCC)

Walla Walla VAMC

Boise VAMC​

​For more information: Federal VA: Women Veterans Program Managers
        </p>
      <h3 class="text-center">Women Veterans Health Care Study</h3>
        <p>
          The Oregon Department of Veterans’ Affairs (ODVA) is pleased to announce the release of the Women Veterans Health Care Study 2016, a comprehensive review of physical and mental health care services for Oregon women veterans that includes findings and recommendations for changes to improve delivery, accessibility and use of health care services.

The Oregon Legislature initiated the study through House Bill 2539 that Governor Kate Brown signed into law in 2015.

Please do not hesitate to reach out to our team at ODVA if we can help answer any questions regarding the study or services for Oregon’s women veterans.​

For more information: Read the Online Report​
        </p>
      <h3 class="text-center">Women Veterans Support Groups and Meetings​</h3>
        <p>
          PORTLAND

Portland Region: Northwest Women Veterans Connection

SOUTHERN OREGON

Southern Oregon Women Veterans

American Women Veterans Association, Roseburg

CENTRAL OREGON

Central Oregon Women Veterans Gathering

EASTERN OREGON

Eastern Oregon Women Veterans​

WILLAMETTE VALLEY

Lane County Women Veterans

COAST

Women Veterans of the Oregon Coast
       </p>
<hr color=red>
      <h2 class="text-center">LGBTQ Veterans</h2>
       <p>
         Oregon is the first state in the nation to establish the position of LGBTQ Veterans Coordinator. Find out more on the LGBTQ Veterans resource page.
       </P>
      <h3 class="text-center">Statewide LGBTQ Veteran Meetings and Support Gorups</h3>
       <p>
         Portland-area LGBTQ Veteran Support Group (clinical): Meets monthly, first Wednesday of the month, 6:30 to 8 p.m. at the Q Center, 4115 N Mississippi Ave., Portland.

Portland Vet Center LGBTQ Veteran Support Group.pdf​

Central Oregon LGBTQ Veteran Support Group (clinical): Meets weekly, every Monday, 4:30 to 6:30 p.m., at the Central Oregon Vet Center, 1645 N.E. Forbes Road, Suite 105, Bend.

Central OR Vet Center LGB​TQ Veteran Support Group Full Flyer.pdf
       </P>
      <h3 class="text-center">Self-Help Options and Resources</h3>
       <p>
         Ordering DD214s and other military documents:

Through eBenefits: You may be able to access your military personnel records electronically by following the instructions here: Accessing ebenefits and Military Documents.pdfAccessing ebenefits and Military Documents.pdf
Through National Archives: You also may be able to request military records online through the National Personnel Records Center (NPRC). More information about this process can be found here.
Through an SF 180: You may also request military records through the use of a Standard Form 180. See here for more information.
Online registration for VA health care: The Veterans Health Administration (VHA) now offers an online option to sign up for VA Healthcare if eligible. For more information, see here: Online VA Healthcare Sign Up.pdfOnline VA Healthcare Sign Up.pdf
       </p>
      <h3 class="text-center">Name Changes for DD-214s</h3>
       <p>
         Congress has authorized the correction of records when it is considered necessary either to rectify an error or to remove an injustice. DD Form 214 does not list gender, but it does list your name. While for most non-transgender people a service record showing a former name does not communicate any sensitive information, for transgender people disclosure of the former name can be equivalent to disclosure of transgender status. This can be considered an injustice, and will be the strongest basis for your request to update your name on the DD 214.

Generally speaking, to update your DD 214 military discharge record, you will need two things: a completed DD Form 149 (Application for Correction of Military Record) and evidence to support your name change request. If possible, this evidence should include proof of your legal name change and gender transition, such as a U.S. passport, driver's license or government-issued ID card showing your updated name and gender.

The Oregon Department of Veterans' Affairs and its LGBTQ veteran coordinator office can assist you with this process. A copy of DD Form 149 can be found online here​.

For more information: "Transgender People and Military Records"
       </p>
      <h3 class="text-center">VHA LGBTQ Veteran Care</h3>
       <p>
         ​The Veterans Health Administration is the largest integrated health care system in the United States and strives to be a national leader in providing care to lesbian, gay, bisexual and transgender veterans. In 2012, the VHA's Office of Patient Care Services created the LGBT Health Program, which provides policy recommendations, provider-education programs and clinical services to support personalized, pro-active, patient-driven healthcare for LGBT veterans.

For more information: LGBT Veteran Patient Care​
       </p>
      <h3 class="text-center">External LGBTQ and Veteran-Serving Organizations</h3>
       <p>
         Local

Pivot​, at Prism Health, is is dedicated to providing free HIV and STI screenings to the LGBTQ community on a walk-in basis.

Veterans for Human Rights​ is a locally based group that works closely with other local and national organizations in securing the full equal and civil rights for all Americans regardless of their sexual orientation, military discharge or marital status.

Q Center​ provides a safe space to support and celebrate LGBTQ diversity, equity, visibility and community building.

Basic Rights Oregon​ works to ensure that all lesbian, gay, bisexual, transgender and queer Oregonians experience equality by building a broad and inclusive politically powerful movement, shifting public opinion, and achieving policy victories.

National

Human Rights Campaign​ is a national organization that advocates for LGBT equality and educates the public about LGBT issues.

Outserv/SLDN works to represent the U.S. LGBT military community worldwide. Their mission is to educate the community, provide legal services, advocate for authentic transgender service, provide developmental opportunities, support members and local chapters, communicate effectively, and work towards equality for all.

American Veterans for Equal Rights​ is an organization dedicated to full and equal rights and equitable treatment for all present and former members of the U.S. Armed Forces, especially the Lesbian, Gay, Bisexual, and Transgender current and prior military personnel who have been historically disenfranchised by armed forces policy and discriminatory laws governing military service and benefits.

American Military Partner Association, connecting, supporting, honoring, and serving the partners and spouses of America’s LGBT service members and veterans – our nation’s modern military families.

Transgender American Veterans Association acts proactively with other concerned gay, lesbian, bisexual and transgender (GLBT) organizations to ensure that transgender veterans will receive appropriate care for their medical conditions in accordance with the Veterans Health Administration’s Customer Service Standards promise to “treat you with courtesy and dignity . . . as the first class citizen that you are.” Further, TAVA will help in educating the Department of Veterans Affairs (VA) and the Department of Defense (DoD) on issues regarding fair and equal treatment of transgender and transsexual individuals. Also, TAVA will help the general transgender community when deemed appropriate.

​
       </p>
<hr color=red>
      <h2 class="text-center">Tribal Veterans</h2>

      <h3 class="text-center">Tribal Veterans Health Care​</h3>
       <p>
         The Tribal Reimbursement Program provides a means for tribal health facilities to receive reimbursement from the federal VA for direct care services provided to American Indian and Alaskan Native eligible veterans.

For more information: Federal VA: Tribal Health Care Benefits
      </p>
<hr color=red>
      <h2 class="text-center">Justice-Involved Veterans</h2>

      <h3 class="text-center">2016 Task Force on Incarcerated Veterans Report​</h3>
        <p>
          The Task Force on Incarcerated Veterans was established through House Bill 2838 (Chapter 824, Oregon Laws 2015), which passed during the 2015 Oregon Legislative Session. The mission of the Task Force was to research, study, and make recommendations to the Legislature regarding outreach, information, and assistance to incarcerated veterans with respect to their earned federal and state veterans’ benefits, as well as other available services and resources.

Read the Report​
        </p>
      <h3 class="text-center">Health Care for Re-entry Veterans(HCRV)Program</h3>
        <p>
          This program offers outreach to veterans incarcerated in state and federal prisons, and referrals and short-term case management assistance upon release from prison.

HCRV services include:

Outreach and pre-release assessments services for Veterans in prison.
Referrals and linkages to medical, mental health and social services, including employment services on release.
Short-term case management assistance on release.
For more information: Federal VA: Re-entry Veterans Services
        </P>
      <h3 class="text-center">Incarcerated Veterans Benefits</h3>
        <p>
          VA benefits are affected if a beneficiary is convicted of a felony and imprisoned for more than 60 days. Disability compensation paid to an incarcerated veteran rated 20 percent or more disabled is limited to the 10 percent rate. Payments are not reduced for participants in work-release programs, residing in halfway houses or under community control.

Failure to notify the VA of a veteran’s incarceration can result in overpayment of benefits and the subsequent loss of all VA financial benefits until the overpayment is recovered. VA benefits will not be provided to any veteran or dependent wanted for an outstanding felony warrant.

The VA may be able to take a portion of the amount that an incarcerated veteran is not receiving and pay it to his or her dependents, if they can show need. When a veteran is released from prison, his or her compensation or pension benefits may be restored. Depending upon the type of disability, the VA may schedule a medical examination to see if the veteran’s disability has improved or worsened.

For more information: contact your local veteran service officer, or visit the Federal VA: Incarcerated Veterans webpage.
        </P>
      <h3 class="text-center">Veteran Courts</h3>
        <p>
          There is a growing effort nationally and in Oregon to institute veterans’ courts or dockets to allow district attorneys to send military members and veterans into treatment, rather than jail, when they commit a non-violent offense. These courts are staffed by people who take into consideration the charges and challenges facing veterans who return home from war. They may allow some military members to enter into mental health diversion programs as treatment for non-violent infractions as opposed to automatically jailing the off ender.

The law relies on the judgment of a prosecutor, who will determine on a case-by-case basis which defendants may be eligible for diversion. These prosecutors must consider, for example, whether a veteran who spent four years at a military base should be offered the same diversion opportunity as one who deployed twice to combat situations in Afghanistan or Iraq. Prosecutors must decide how serious the crime must be before diversion is taken off the table and must consider the victim of the offense.

For more information: contact your local District Attorney’s office​ or your local veteran service office.
        </p>
      <h3 class="text-center">Veterans Justice Outreach(VJO)Program </h3>
        <p>
          VJO offers outreach and case management to veterans involved in law enforcement encounters, overseen by treatment courts, and incarcerated in local jails. The purpose of the VJO initiative is to avoid the unnecessary criminalization of mental illness and extended incarceration among veterans by ensuring that eligible justice-involved veterans have timely access to VHA mental health and substance abuse services when clinically indicated, and other VA services and benefits as appropriate.

VA Medical Centers have been strongly encouraged to develop working relationships with the court system and local law enforcement and must now provide outreach to justice-involved veterans in the communities they serve.

Each VA medical center has been asked to designate a facility-based Veterans’ Justice Outreach Specialist, responsible for direct outreach, assessment, and case management for justice-involved Veterans in local courts and jails, and liaison with local justice system partners.

For more information: Visit the Federal VA: VJO website for a list of Oregon's VJO Specialist Contacts.
        </p>
      <h3 class="text-center"></h3>
        <p>
        </p>
      <h3 class="text-center"></h3>
        <p>
        </p>
      <h3 class="text-center"></h3>
        <p>
        </p>
      <h3 class="text-center">​</h3>
        <p>
        </p>
      <h3 class="text-center"></h3>
        <p>
        </P>



    </div>
  </div>

{% block content %}
{% endblock content %}
{% block js_body %}{% endblock js_body %}
</body>
</html>
