{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Oregon Veterans{% endblock title %}</title>
    <link rel="stylesheet"
      href="https://bootswatch.com/4/cyborg/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="mystyle.css">
    {% block main_styles %}
        <link rel='stylesheet' href='{% static "todos/css/stylesheet.css" %}'>
    {% endblock main_styles %}
    {% block extra_styles %}{% endblock extra_styles %}
    {% block js_head %}{% endblock js_head %}
</head>
<body>
  <div class="row">
    <div class="col-sm-2">
      <ul class="nav flex-column sticky-top data-spy="affix">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'capapp:homepage' %}">HOMEPAGE</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'capapp:burial_benefits' %}">Burial Benefits</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'capapp:claims_process' %}">Claims Process</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'capapp:disability_compensation' %}">Disability Compensation</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'capapp:education' %}">Education</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'capapp:emergency_assistance' %}">Emergency Assistance</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'capapp:employment' %}">Employment</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'capapp:health' %}">Healthcare</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'capapp:home_loans' %}">Home Loans</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'capapp:license_plates' %}">License Plates</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'capapp:long_term_care' %}">Long-Term Care</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'capapp:pension' %}">Pension</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'capapp:records_medals' %}">Records and Medals</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'capapp:recreation' %}">Recreation</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'capapp:special_advocacy' %}">Special Advocacy</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'capapp:taxes' %}">Taxes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'capapp:transportation' %}">Transportation</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'capapp:veteran_IDs' %}">Veteran IDs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'capapp:veteran_owned_businesses' %}">Veteran Owned Businesses</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'capapp:veteran_volunteer_program' %}">Veteran Volunteer Program</a>
        </li>
      </ul>
    </div>
    <div class="col-sm-9">
      <h1 class="text-center">Veteran Volunteer Program</h1>
        <p>
          ODVA is piloting a Veteran Volunteer Program to assist in veteran outreach efforts. The program pilot areas are Clackamas, Deschutes and Polk counties. If you are interested in participating and can volunteer in one of these areas, please fill out the interest form below.

Current Volunteers: Log into your volunteer account to enter your hours. Need help logging in? Contact the Volunteer Program Coordinator Mark Newell at 503-373-2057 or veteranvolunteer@odva.state.or.us.
        </p>
<hr color=red>
      <h2 class="text-center">About the Veteran Volunteer Program</h2>
        <p>
          The mission statement of the Veteran Volunteer Program is, "Mobilizing the power of volunteers to help Oregon veterans understand and use their earned benefits."
        </P>
      <h3 class="text-center">Program Description</h3>
        <p>
          The goal of this program is to have a statewide network of volunteers trained to locate veterans and their families, assist them in recognizing potential earned benefits and services, and connect them to individuals and organizations for additional assistance. This program will provide training and oversight on an ongoing basis to volunteers, ensuring that volunteers are supported in assisting these Oregonians to the resources who can best advise them regarding their benefits. Lastly, this program will continue to explore and identify additional opportunities to assist veterans and/or their families.
        </p>
<hr color=red>
      <h3 class="text-center">*Volunteer Position Description*</h3>

      <h4 class="text-center">Volunteer Position</h4>
        <p>
          Volunteer Veteran Guide

        </p>
      <h3 class="text-center">Position Overview</h3>
        <p>
          Trained volunteers who raise awareness of federal and state benefits as well as expand the outreach efforts of the Oregon Department of Veterans’ Affairs and partners. Volunteers will help veterans become more knowledgeable about state and federal services, encourage follow through with state certified VSO’s or other state agencies, and expand outreach efforts of ODVA and their partners.
        </p>
      <h3 class="text-center">Volunteer Job Duties</h3>
        <p>
          Volunteers will locate and educate aging veterans about state benefits as part of the outreach effort (including ODVA, Medicare, Medicaid, and others).
Volunteers will educate veterans and community partners about VSO services, provide other state and federal resource information, and encourage veterans and their families to connect with those services.
Volunteers will develop and maintain relationships with local community partners and VSO’s.
Volunteers will work to improve the Volunteer Program and provide feedback to the Veteran Volunteer Coordinator.
Volunteers can work closely with ODVA Trained and Accredited County Veteran Service Officers (CVSO’s) to maximize existing and future outreach efforts.
Volunteers can collaborate with County VSO’s in developing, planning and implementing outreach to local aging veterans and community partners.
        </p>
      <h3 class="text-center">Locations​</h3>
        <p>
          Throughout assigned county, including Veteran Service Officer Office, Aging and Disability Resource Centers, Long Term Care Facilities, and others. Our initial goal is to have volunteers go into long-term care facilities (nursing homes, assisted living and residential care facilities, and adult foster homes) to find these veterans and/or their family members and talk to them about benefits and services they may be eligible for. Once located and informed, volunteers will help them connect to the appropriate resources in the county.
       </p>
      <h3 class="text-center">Time Commitment</h3>
       <p>
         One year or more, 8-10 hours a month
       </P>
      <h3 class="text-center">Qualifications</h3>
       <p>
         Must be 18+ years of age, have experience with or desire to learn veteran outreach efforts, like problem-solving, possess good communication skills, enjoy teaching others, have a passion for helping veterans, be capable of performing group presentations.

        The Veteran Volunteer Program Coordinator will provide all volunteers with an orientation and training. All volunteers will be provided on-the-job-training in their assigned counties. Volunteers will be provided ongoing support, education and guidance.        </P>
      <h3 class="text-center">Reports To</h3>
       <p>
         Veteran Volunteer Program Coordinator (ODVA)
       </p>
      <h3 class="text-center"></h3>
       <p>
       </p>
      <h3 class="text-center"></h3>
       <p>
       </p>
      <h3 class="text-center"></h3>
       <p>
       </p>
      <h3 class="text-center"></h3>
       <p>
       </p>
      <h3 class="text-center">​</h3>
       <p>
      </p>
      <h3 class="text-center"></h3>
        <p>
        </P>


    </div>
  </div>

{% block content %}
{% endblock content %}
{% block js_body %}{% endblock js_body %}
</body>
</html>
