{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Oregon Veterans{% endblock title %}</title>
    <link rel="stylesheet"
      href="https://bootswatch.com/4/cyborg/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="mystyle.css">
    {% block main_styles %}
        <link rel='stylesheet' href='{% static "todos/css/stylesheet.css" %}'>
    {% endblock main_styles %}
    {% block extra_styles %}{% endblock extra_styles %}
    {% block js_head %}{% endblock js_head %}
</head>
<body>
  <div class="row">
    <div class="col-sm-2">
      <ul class="nav flex-column sticky-top data-spy="affix">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'capapp:homepage' %}">HOMEPAGE</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'capapp:burial_benefits' %}">Burial Benefits</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'capapp:claims_process' %}">Claims Process</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'capapp:disability_compensation' %}">Disability Compensation</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'capapp:education' %}">Education</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'capapp:emergency_assistance' %}">Emergency Assistance</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'capapp:employment' %}">Employment</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'capapp:health' %}">Healthcare</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'capapp:home_loans' %}">Home Loans</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'capapp:license_plates' %}">License Plates</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'capapp:long_term_care' %}">Long-Term Care</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'capapp:pension' %}">Pension</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'capapp:records_medals' %}">Records and Medals</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'capapp:recreation' %}">Recreation</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'capapp:special_advocacy' %}">Special Advocacy</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'capapp:taxes' %}">Taxes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'capapp:transportation' %}">Transportation</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'capapp:veteran_IDs' %}">Veteran IDs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'capapp:veteran_owned_businesses' %}">Veteran Owned Businesses</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'capapp:veteran_volunteer_program' %}">Veteran Volunteer Program</a>
        </li>
      </ul>
    </div>
    <div class="col-sm-9">
      <h1 class="text-center">Healthcare</h1>
        <p>
          The federal VA operates a robust and comprehensive health care system for veterans in Oregon, consisting of three full-service Medical Centers and numerous Community-Based Outpatient Clinics (CBOCs).
        </p>
<hr color=red>
      <h2 class="text-center">*Benefits and Programs*</h2>

      <h3 class="text-center">5-Year Post-Deployment Health Care Benefits</h3>
        <p>
          If you served in a combat theater of operations after November 11, 1998, you may be eligible to receive free or reduced-cost health care for a period of five years immediately following your active duty discharge, regardless of whether your medical needs are deemed service-connected.  This is thanks to enhanced eligibility criteria under the federal VA’s “Combat Veteran” authority, which allows returning combat veterans to enroll in the VA health care system at a higher-than-basic Priority Group, where you will have full access to the VA’s medical benefits package.

The 5-year enrollment period begins on the date you separated from active duty, or, if a reservist or national guardsman with multiple call-ups, on your most recent discharge date. Eligibility for VA health care is normally contingent upon other factors such as a service-connected disability or a veteran’s financial circumstances; thus, combat veterans are strongly encouraged to apply for enrollment within their 5-year enhanced eligibility period, even if no medical care is currently needed.

Who qualifies?
Veterans, including members of the National Guard and activated reservists, who served on active duty in a theater of combat operations after November  11, 1998, and have been discharged under other than dishonorable conditions.

Theaters of combat operations during this time period include locales related to Operation Enduring Freedom, Operation Iraqi Freedom, Operation New Dawn, as well as numerous other areas of hostilities and/or imminent danger. For a complete list see here.

Benefits include enrollment in Priority Group 6 or higher, eligibility for Choice Card Program, federal VA dental benefits, and more.

For more information: Federal VA: Health Benefits for Returning Service Members​
        </p>
      <h3 class="text-center">Choice Program</h3>
        <p>
          If you are already enrolled in VA health care, the Choice Program allows you to receive health care within your community. Using this program does NOT impact your existing VA health care, or any other VA benefit.

For more information: Federal VA: Veterans Choice Program Eligibility
        </p>
      <h3 class="text-center">Enrollment</h3>
        <p>
          Your first step in attaining federal VA health benefits is to apply for enrollment in the VA health care system. During the application verification process, the VA considers a variety of factors to determine your eligibility for enrollment. Consult the Eligibility​ section of this webpage for more details.

To learn more about the benefits you could receive through VA health care, visit the VA Health Benefits Explorer.

How to apply for enrollment

There are four ways that you can apply for enrollment in the VA health care system:  by telephone, online, in person, or by mail.

For more information: Federal VA: Ways to Enroll
        </p>
      <h3 class="text-center">Healthcare benefits Eligibilty</h3>
        <p>
          If you served in the active military service and were discharged or released under conditions other than dishonorable, you may qualify for federal VA health care benefits. Reservists and National Guard members may also qualify for VA health care benefits if they were called to active duty (other than for training purposes) by a federal order and completed the full period for which they were called up.

For more information: Federal VA: Health Care
        </p>
      <h3 class="text-center">My HealtheVet</h3>
        <p>
          My HealtheVet is your online Personal Health Record that allows you to access and manage your federal VA health information conveniently and efficiently, 24 hours a day/7 days a week. There you can refill and track your federal VA prescription medications, keep track of medical appointments, access and update your federal VA health record, and communicate securely with your federal VA health care team. You can also explore a variety of ways to monitor and improve your health.

To get the most out of your My HealtheVet, veterans are urged to visit their local federal VA health care facility to get an upgraded account, known as In-Person Authentication (IPA).

For more information: My HealtheVet​
        </p>
      <h3 class="text-center">​Non-VA Medical Center Emergency Care</h3>
        <p>
          Veterans are eligible for emergency care at non-federal VA facilities under certain circumstances: if you are too far from a federal VA facility to receive care in a safe, timely manner, or if your local federal VA facility is not properly equipped to handle your type of emergency care needs.

In such cases, the 2010 Veterans Emergency Care Protective Act enables the federal VA to reimburse veterans enrolled in federal VA health care for the remaining cost of emergency treatment if the veteran has outside insurance that only covers part of the cost.

If non-federal VA emergency care is received, notification to the nearest federal VA health care facility must be made within 72 hours of hospitalization. Federal VA payment is limited up to the point that the veteran’s condition is stable for transport to a federal VA facility.

For more information: Federal VA: Emergency Care
       </p>
      <h3 class="text-center">Patient Advocates</h3>
       <p>
         The Patient Advocacy Program is for all veterans and their families who receive care at Veterans Health Administration (VHA) facilities and clinics.  The federal VA wants to be sure that you have someone to go to with your concerns in a timely manner and to help you receive care.

If you need help getting care or getting your problems resolved, talk to the Patient Advocate at your nearest VA Medical Center.

For more information: Federal VA: Patient Advocacy Program
       </P>
      <h3 class="text-center">Prescriptions</h3>
       <p>
         The federal VA's prescription benefit ensures that you receive safe, effective, medically necessary medications that represent a good value. If you are being treated by a federal VA primary care provider, you will be provided all necessary medications for your treatment.  The cost of medications depends on your disability status:  If you have a service-connected disability, you may receive federal VA medications free of charge. If you do not have a service-connected disability, you may be charged a copayment for each 30-day supply of medications the federal VA provides.

For more information: Federal VA: Prescriptions​
       </P>
      <h3 class="text-center">Presumptive Health Conditions</h3>
       <p>
         For the purpose of disability compensation, there are specific health conditions, even if they were not incurred or aggravated during military service, that the federal VA presumes to be service-connected because of the unique nature of certain veterans’ military service. These are called presumptive health conditions.

Note: The VA will also consider other conditions not listed, if supported by medical or scientific evidence. To be eligible for disability compensation, the VA must be able to establish that it is at least as likely as not that a veteran’s disease was caused by their military service. Working with a veteran service officer will help you determine if your health condition meets any of the qualifying presumptive health conditions.

For more information: Federal VA: Presumptive Health Conditions
       </p>
      <h3 class="text-center">Transportation for Health Care</h3>
       <p>
         ​There are a number of services available to ensure that you have safe and reliable transportation to and from your federal VA medical appointments. These include:

Beneficiary Travel (BT)
Veterans Transportation Service (VTS)
Transportation for Highly Rural Veterans
The Disabled American Veterans (DAV) Transportation Network
For more information: Transportation Services​
       </p>
      <h3 class="text-center">Tribal Veterans Health Care</h3>
       <p>
         The Tribal Reimbursement Program provides a means for tribal health facilities to receive reimbursement from the federal VA for direct care services provided to American Indian and Alaskan Native eligible veterans.

For more information: Federal VA: Tribal Health Care Benefits
       </p>
      <h3 class="text-center">Vet Center Call Center</h3>
       <p>
         1-877-WAR VETS (1.877.927.8387) is an around the clock confidential call center where combat Veterans and their families can call to talk about their military experience or any other issue they are facing in their readjustment to civilian life. The staff is comprised of combat Veterans from several eras as well as family members of combat Veterans. The service is free for combat Veterans and their families so they may find resources they need at their nearest Vet Center.

For more information: visit the Federal VA: Vet Centers​ webpage or call 1-877-WAR VETS.
       </p>
      <h3 class="text-center">Vet Centers</h3>
       <p>
         Services provided at Vet Centers include bereavement and readjustment counseling to individuals, groups, couples, and families.

If you served in a combat zone and received a campaign ribbon, you and your family are eligible for Vet Center services.  In addition, parents, siblings, spouses and children of any active duty service member who dies while on active duty are eligible for bereavement counseling services.

For more information: Find a Vet Center​ or visit the Federal VA: Vet Centers​ webpage
       </p>
      <h3 class="text-center">Veterans Crisis Line​</h3>
       <p>
         The Veterans Crisis Line connects veterans in crisis and their families and friends with qualified, caring Department of Veterans Affairs responders through a confidential toll-free hotline, online chat, or text.

Veterans and their loved ones can call 1-800-273-8255 and Press 1, chat online, or send a text message to 838255 to receive confidential support 24 hours a day, 7 days a week, 365 days a year. Support for deaf and hard of hearing individuals is available.

For more information: Federal VA: Veterans Crisis Line or call 1-800-273-8255 and Press 1
      </p>
      <h3 class="text-center">Women Veterans Health Care</h3>
        <p>
          Women veterans are eligible for the same federal VA health benefits as male veterans, as well as an array of additional gender-specific care services. Such comprehensive health services include women’s primary care, specialty care, mental health care, reproductive health care services, and treatment for eating disorders. The federal VA also provides management of acute and chronic illnesses, preventative care, contraceptive services, menopause management, cancer screenings including pap smear and mammograms, and gynecology.

Maternity care is covered in the medical benefits package to include care for newborn children of women veterans for up to 7 days after birth. The federal VA is also mandated to implement pilot programs to provide child care to women veterans receiving medical care, and to provide readjustment services to women veterans. Infertility evaluation and limited treatments are also available.

Women Veterans Program Managers are available at all federal VA facilities to help veterans seeking treatment and benefits.

For more information: Federal VA: Women Veterans’ Health Care programs
        </P>
      <h3 class="text-center">VA Health Care for Aging Veterans</h3>
        <p>
          ​The health care needs of the aging veteran population are unique and complex. The federal VA health care system has dedicated resources to serve the needs of this growing population of veterans. These services can be provided in your home, at a VA medical facility or in your community, depending on your situation and needs.

​For more information: Federal VA: Geriatrics and Extended Care
        </p>


    </div>
  </div>

{% block content %}
{% endblock content %}
{% block js_body %}{% endblock js_body %}
</body>
</html>
