{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Oregon Veterans{% endblock title %}</title>
    <link rel="stylesheet"
      href="https://bootswatch.com/4/cyborg/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="mystyle.css">
    {% block main_styles %}
        <link rel='stylesheet' href='{% static "todos/css/stylesheet.css" %}'>
    {% endblock main_styles %}
    {% block extra_styles %}{% endblock extra_styles %}
    {% block js_head %}{% endblock js_head %}
</head>
<body>
  <div class="row">
    <div class="col-sm-2">
      <ul class="nav flex-column sticky-top data-spy="affix">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'capapp:homepage' %}">HOMEPAGE</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'capapp:burial_benefits' %}">Burial Benefits</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'capapp:claims_process' %}">Claims Process</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'capapp:disability_compensation' %}">Disability Compensation</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'capapp:education' %}">Education</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'capapp:emergency_assistance' %}">Emergency Assistance</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'capapp:employment' %}">Employment</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'capapp:health' %}">Healthcare</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'capapp:home_loans' %}">Home Loans</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'capapp:license_plates' %}">License Plates</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'capapp:long_term_care' %}">Long-Term Care</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'capapp:pension' %}">Pension</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'capapp:records_medals' %}">Records and Medals</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'capapp:recreation' %}">Recreation</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'capapp:special_advocacy' %}">Special Advocacy</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'capapp:taxes' %}">Taxes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'capapp:transportation' %}">Transportation</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'capapp:veteran_IDs' %}">Veteran IDs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'capapp:veteran_owned_businesses' %}">Veteran Owned Businesses</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'capapp:veteran_volunteer_program' %}">Veteran Volunteer Program</a>
        </li>
      </ul>
    </div>
    <div class="col-sm-9">
      <h1 class="text-center">Home Loans</h1>
        <p>
          The Oregon Department of Veterans' Affairs and its partners help veterans and their families become home owners. Oregon is one of the few states in the nation with its own Home Loan Program, a separate and distinct program from that offered by the federal VA.
        </p>
<hr color=red>
      <h2 class="text-center">*Benefits and Programs*</h2>

      <h3 class="text-center">ODVA Home Loan Program</h3>
        <p>
          Oregon is one of only five states that offers a veteran home loan program. This Oregon benefit is separate and distinct from the federal VA Home Loan Guaranty and has lent approximately $8 billion in low-interest home loans to more than 334,000 veterans since 1945.

Currently, ODVA's home loan program offers eligible veterans fixed-rate financing for:

Owner-occupied, single family residence
Up to the Fannie Mae limit
Purchase only (no refinancing is available)
Up to four (4) home loan maximum life benefit
For more information: ODVA Home Loan Program
        </p>
      <h3 class="text-center">Federal VA Home Loan Guaranty</h3>
        <p>
          For many qualified veterans, the federal VA-guaranteed home loan can significantly reduce the financial burden of a first-time home purchase. Benefits include allowing borrowers to secure competitive interest rates without requiring a down payment or private mortgage insurance.

How it works:

When you use your federal VA home loan benefits, the federal VA does not actually lend the money for the home. Rather, federal VA-guaranteed loans are made by private lenders, such as banks, savings and loans, or mortgage companies. The federal VA guaranty means the lender is protected against loss if the borrowing veteran fails to repay the loan.

VA home loans can be used to:

Buy a home, a condominium unit in a VA-approved project
Build a home
Simultaneously purchase and improve a home
Improve a home by installing energy-related features or making energy efficient improvements
Buy a manufactured home and/or lot.
Note: In all cases, the home must be for your own personal occupancy.

Who qualifies?

You must have suitable credit, sufficient income, and a valid Certificate of Eligibility (COE) to be eligible for a VA-guaranteed home loan. COE’s are granted based on a number of factors related to the length and nature of your military service. Spouses of veterans may also be eligible for the home loan guaranty under certain conditions.

Find out more: Federal VA Home Loan Guaranty​
        </p>
      <h3 class="text-center">Supplemental Financing Loan Guaranty</h3>
        <p>
          Veterans who have available home loan guaranty entitlement may also obtain a guaranteed loan, or possibly a direct loan, from the VA to supplement the grants to acquire a specially adapted home.

For more information: Federal VA: Home Loans
        </p>
      <h3 class="text-center"></h3>
        <p>
        </p>
      <h3 class="text-center"></h3>
        <p>
        </p>
      <h3 class="text-center">​</h3>
        <p>
       </p>
      <h3 class="text-center"></h3>
       <p>
       </P>
      <h3 class="text-center"></h3>
       <p>
       </P>
      <h3 class="text-center"></h3>
       <p>
       </p>
      <h3 class="text-center"></h3>
       <p>
       </p>
      <h3 class="text-center"></h3>
       <p>
       </p>
      <h3 class="text-center"></h3>
       <p>
       </p>
      <h3 class="text-center"></h3>
       <p>
       </p>
      <h3 class="text-center">​</h3>
       <p>
      </p>
      <h3 class="text-center"></h3>
        <p>
        </P>


    </div>
  </div>

{% block content %}
{% endblock content %}
{% block js_body %}{% endblock js_body %}
</body>
</html>
