{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Oregon Veterans{% endblock title %}</title>
    <link rel="stylesheet"
      href="https://bootswatch.com/4/cyborg/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="mystyle.css">
    {% block main_styles %}
        <link rel='stylesheet' href='{% static "todos/css/stylesheet.css" %}'>
    {% endblock main_styles %}
    {% block extra_styles %}{% endblock extra_styles %}
    {% block js_head %}{% endblock js_head %}
</head>
<body>
  <div class="row">
    <div class="col-sm-2">
      <ul class="nav flex-column sticky-top data-spy="affix">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'capapp:homepage' %}">HOMEPAGE</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'capapp:burial_benefits' %}">Burial Benefits</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'capapp:claims_process' %}">Claims Process</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'capapp:disability_compensation' %}">Disability Compensation</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'capapp:education' %}">Education</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'capapp:emergency_assistance' %}">Emergency Assistance</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'capapp:employment' %}">Employment</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'capapp:health' %}">Healthcare</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'capapp:home_loans' %}">Home Loans</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'capapp:license_plates' %}">License Plates</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'capapp:long_term_care' %}">Long-Term Care</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'capapp:pension' %}">Pension</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'capapp:records_medals' %}">Records and Medals</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'capapp:recreation' %}">Recreation</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'capapp:special_advocacy' %}">Special Advocacy</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'capapp:taxes' %}">Taxes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'capapp:transportation' %}">Transportation</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'capapp:veteran_IDs' %}">Veteran IDs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'capapp:veteran_owned_businesses' %}">Veteran Owned Businesses</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'capapp:veteran_volunteer_program' %}">Veteran Volunteer Program</a>
        </li>
      </ul>
    </div>
    <div class="col-sm-9">
      <h1 class="text-center">Transportation</h1>
        <p>
          The federal VA offers transportation benefits and adaptive programs to help with the unique needs of rural and disabled veterans.
        </p>
<hr color=red>
      <h2 class="text-center">*Benefits and Programs*</h2>

      <h3 class="text-center">Beneficiary Travel</h3>
        <p>
          This federal VA program provides eligible beneficiaries reimbursement for mileage and/or costs incurred while traveling to and from VA health care facilities, to include special modes of transportation, and in certain circumstances, common carrier transportation, such as bus, taxi, airline or train travel.

For more information: Federal VA: Transportation Program
        </p>
      <h3 class="text-center">Disabled American Veterans(DAV)Transportation Network</h3>
        <p>
          ​In addition to federal VA-provided transportation services, Disabled American Veterans (DAV) operates a nationwide network of volunteer drivers to transport veterans to and from VA medical facilities for treatment. This network includes 189 Hospital Service Coordinators around the country to assist in coordinating transportation. Because the DAV Transportation Network is staffed by volunteers, service may not be available in your area.

For more information: DAV: Need a Ride?

DAV Transportation Volunteers Needed

Many DAV volunteers are former service members, making the Transportation Network a clear example of veterans helping veterans, and the organization is always looking for more volunteer drivers.

To volunteer: DAV: Drive a Van
        </p>
      <h3 class="text-center">Oregon Wounded Warrior Parking Placard</h3>
        <p>
          Starting in January 2019, eligible veterans are able to obtain an Oregon Wounded Warrior parking placard. The new placard is the result of Senate Bill 1506 and exempts the driver from paying fees in public parking areas with metered parking. It also enables veterans to park in time-limited spaces for longer than the posted limit (except in zones that are designated 30 minutes or less). There is no fee for the placard, and it will carry the same expiration as the veteran’s driver license.

Who qualifies?

Oregon veterans who qualify for a disabled parking permit from the Oregon Department of Transportation’s Driver & Motor Vehicles Division (DMV) and have a service-connected disability that is VA-rated at 50% or greater.

For more information: Oregon Driver & Motor Vehicle Services: Disabled Person ​Parking Permits​
        </p>
      <h3 class="text-center">Transportation for Highly Rural Veterans</h3>
        <p>
          Distance and transportation to and from medical appointments are routinely cited by rural veterans as the main obstacles to obtaining health care.  One answer to this is the VA’s Highly Rural Transportation Program, which provides free transportation to and from medical appointments (not just those at VA facilities) to any veteran living in one of Oregon’s participating highly rural counties.  Services include door-to-door pick-up and drop-off in ADA-compliant vehicles, with assistance in loading or unloading at no cost to the veteran.

This service is made possible by an annual federal VA Highly Rural Transportation Grant administered through the Oregon Department of Veterans’ Affairs (ODVA) in conjunction with local partners throughout the state.  2017 marked the fourth consecutive year that the ODVA received the grant, which awards a maximum of $50,000 for each participating county. The program runs on a year-to-year basis, and transportation services are subject to grant fund availability each fiscal year.

Who qualifies?

Oregon has 10 counties that are considered "highly rural" by the U.S. Census Bureau: Baker, Gilliam, Grant, Lake, Harney, Malheur, Morrow, Sherman, Wallowa and Wheeler. If you are a veteran living in one of these counties and would like more information about the Highly Rural Transportation program, please contact your local county or transportation office.

For more information: A complete list of the appropriate contacts can be found here​.
        </p>
      <h3 class="text-center">Veterans Transportation Service</h3>
        <p>
          The Veterans Healthcare Administration has a transportation program for non-ambulatory and remote VA patients.  The Veterans Transportation Service (VTS) provides transport for veterans to VA Medical Centers (VAMCs). These services include vehicle routing and scheduling software for VA medical facilities.

Who qualifies?
While all veterans with federal VA-funded medical appointments are eligible to ride VTS, a first priority is given to wheelchair-bound patients who have no other transportation alternatives.  VTS is establishing a network of community volunteer transportation service providers to improve access to VA health care, including the Portland VAMC.

Reservations are needed for transportation at least four full business days before the date transport id needed.  Specific information about the veteran is also required.

To make a reservation, call 503-721-7804 or 800-949-1004, ext. 55044 for Portland VAMC, 541-440-1293 for Roseburg, and 541-826-2111, ext. 3619 for White City.

For more information: Federal VA: Tr​ansportation Programs
        </p>
      <h3 class="text-center">​</h3>
        <p>
       </p>
      <h3 class="text-center"></h3>
       <p>
       </P>
      <h3 class="text-center"></h3>
       <p>
       </P>
      <h3 class="text-center"></h3>
       <p>
       </p>
      <h3 class="text-center"></h3>
       <p>
       </p>
      <h3 class="text-center"></h3>
       <p>
       </p>
      <h3 class="text-center"></h3>
       <p>
       </p>
      <h3 class="text-center"></h3>
       <p>
       </p>
      <h3 class="text-center">​</h3>
       <p>
      </p>
      <h3 class="text-center"></h3>
        <p>
        </P>


    </div>
  </div>

{% block content %}
{% endblock content %}
{% block js_body %}{% endblock js_body %}
</body>
</html>
