{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Oregon Veterans{% endblock title %}</title>
    <link rel="stylesheet"
      href="https://bootswatch.com/4/cyborg/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="mystyle.css">
    {% block main_styles %}
        <link rel='stylesheet' href='{% static "todos/css/stylesheet.css" %}'>
    {% endblock main_styles %}
    {% block extra_styles %}{% endblock extra_styles %}
    {% block js_head %}{% endblock js_head %}
</head>
<body>
  <div class="row">
    <div class="col-sm-2">
      <ul class="nav flex-column sticky-top data-spy="affix">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'capapp:homepage' %}">HOMEPAGE</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'capapp:burial_benefits' %}">Burial Benefits</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'capapp:claims_process' %}">Claims Process</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'capapp:disability_compensation' %}">Disability Compensation</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'capapp:education' %}">Education</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'capapp:emergency_assistance' %}">Emergency Assistance</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'capapp:employment' %}">Employment</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'capapp:health' %}">Healthcare</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'capapp:health' %}">Home Loans</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'capapp:license_plates' %}">License Plates</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'capapp:long_term_care' %}">Long-Term Care</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'capapp:pension' %}">Pension</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'capapp:records_medals' %}">Records and Medals</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'capapp:recreation' %}">Recreation</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'capapp:special_advocacy' %}">Special Advocacy</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'capapp:taxes' %}">Taxes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'capapp:transportation' %}">Transportation</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'capapp:veteran_IDs' %}">Veteran IDs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'capapp:veteran_owned_businesses' %}">Veteran Owned Businesses</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'capapp:veteran_volunteer_program' %}">Veteran Volunteer Program</a>
        </li>
      </ul>
    </div>
    <div class="col-sm-9">
      <h1 class="text-center">Veteran IDs</h1>
        <p>
          You have several options for denoting your veteran status, whether for proud public display or for situations requiring proof of service, such as healthcare or consumer discounts.
        </p>
<hr color=red>
      <h3 class="text-center">Veteran Health Identification Card</h3>
        <p>
          The ​Veteran Health Identification Card (VHIC) is issued only to veterans who are enrolled in the VA Health Care System and is used for identification and check-in at VA appointments. It cannot be used as an insurance card, and it does not authorize or pay for care at non-VA facilities.

For more information: Federal VA: VHIC
        </P>
      <h3 class="text-center">DEERS ID Cards</h3>
        <p>
          If you are an active duty, reserve, or National Guard service member, dependent or retiree, you can get a military ID at any ​Defense Enrollment Eligibility Reporting System (DEERS) location within Oregon. Please note that not all locations allow walk-in appointments and are not open for regular business hours.

For more information: Tricare: DEERS​
        </p>
      <h3 class="text-center">Veteran Designation on Oregon Driver License and ID</h3>
        <p>
          Oregon Driver & Motor Vehicle Services now offers a veteran designation that can be voluntarily placed on Oregon driver licenses and/or identification cards, allowing you to easily confirm your veteran status for non-official purposes, such as receiving veteran discounts at retail stores.

In order to receive the veteran designation, you must provide the DMV with proof of your military service (DD-214 or DD-215) at the time of card issuance, and meet all other Oregon requirements for a driving privilege or identification card, including payment of the original, renewal, or replacement fee.

The DMV will not charge an additional fee for the veteran designation.

For more information: Oregon Driver & Motor Vehicle Services: Veteran Designation
        </p>
      <h3 class="text-center"></h3>
        <p>
        </p>
      <h3 class="text-center"></h3>
        <p>
        </p>
      <h3 class="text-center"></h3>
        <p>
        </p>
      <h3 class="text-center">​</h3>
        <p>
       </p>
      <h3 class="text-center"></h3>
       <p>
       </P>
      <h3 class="text-center"></h3>
       <p>
       </P>
      <h3 class="text-center"></h3>
       <p>
       </p>
      <h3 class="text-center"></h3>
       <p>
       </p>
      <h3 class="text-center"></h3>
       <p>
       </p>
      <h3 class="text-center"></h3>
       <p>
       </p>
      <h3 class="text-center"></h3>
       <p>
       </p>
      <h3 class="text-center">​</h3>
       <p>
      </p>
      <h3 class="text-center"></h3>
        <p>
        </P>


    </div>
  </div>

{% block content %}
{% endblock content %}
{% block js_body %}{% endblock js_body %}
</body>
</html>
